{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %} Case status {% endblock %}
{% block content %}
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <div class="navbar-item" href="#">
                    <img src="{% static 'icons/logo.svg' %}" width="50" alt="Consulting">
                    <h3>Consulting</h3>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="field">
            <label class="label" for="id_identifier">
                Identifier
            </label>
            <div class="control">
                <input type="text" class="input" id="id_identifier"
                            value="{{ case.identifier }}" readonly>
            </div>
        </div>
        <div class="field">
            <label class="label" for="id_status">
                Status
            </label>
            <div class="control">
                <input type="text" class="input" id="id_status"
                            value="{{ case.get_status_display }}" readonly>
            </div>
        </div>
    </div>
{% endblock %}