{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %} Create case {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="container">
        <h3 class="subtitle">Update case</h3>
        <form action="" method="post">
        {% csrf_token %}
            <div class="field">
                <label class="label" for="{{ form.identifier.id_for_label}}">
                    {{ form.identifier.label }}
                </label>
                <div class="control">
                    {{ form.identifier|attr:"class:input"|attr:"readonly" }}
                </div>
                {% if form.identifier.errors %}
                    <p class="help is-danger">
                        {{ form.identifier.errors|striptags }}
                    </p>
                {% endif %}
            </div>
            <div class="field">
                <label class="label" for="{{ form.passcode.id_for_label}}">
                    {{ form.passcode.label }}
                </label>
                <div class="control">
                    {{ form.passcode|attr:"class:input"|attr:"readonly" }}
                </div>
                {% if form.passcode.errors %}
                    <p class="help is-danger">
                        {{ form.passcode.errors|striptags }}
                    </p>
                {% endif %}
            </div>
            <div class="field">
                <label class="label" for="{{ form.submition_datetime.id_for_label}}">
                    {{ form.submition_datetime.label }}
                </label>
                <div class="control">
                    {{ form.submition_datetime|attr:"class:input"|attr:"type:datetime" }}
                </div>
                {% if form.submition_datetime.errors %}
                    <p class="help is-danger">
                        {{ form.submition_datetime.errors|striptags }}
                    </p>
                {% endif %}
            </div>
        <div class="field">
            <label class="label" for="{{ form.description.id_for_label}}">
                {{ form.description.label }}
            </label>
            <div class="control">
                {{ form.description|attr:"class:textarea" }}
            </div>
            {% if form.description.errors %}
                <p class="help is-danger">
                    {{ form.description.errors|striptags }}
                </p>
            {% endif %}
        </div>
        <div class="field">
            <label class="label" for="{{ form.type.id_for_label}}">
                {{ form.type.label }}
            </label>
            <div class="control">
                <div class="select">
                    {{ form.type }}
                </div>
            </div>
            {% if form.type.errors %}
                <p class="help is-danger">
                    {{ form.type.errors|striptags }}
                </p>
            {% endif %}
        </div>
        <div class="field">
            <div class="control">
                <a class="button is-text" href="{% url 'download_script' object.type.pk %}">
                    Download script
                </a>
            </div>
        </div>
        <div class="field">
            <label class="label" for="{{ form.status.id_for_label}}">
                {{ form.status.label }}
            </label>
            <div class="control">
                <div class="select">
                    {{ form.status }}
                </div>
            </div>
            {% if form.status.errors %}
                <p class="help is-danger">
                    {{ form.status.errors|striptags }}
                </p>
            {% endif %}
        </div>
        <div class="field">
            <label class="label" for="{{ form.executor.id_for_label}}">
                {{ form.executor.label }}
            </label>
            <div class="control">
                <div class="select">
                    {{ form.executor }}
                </div>
            </div>
            {% if form.executor.errors %}
                <p class="help is-danger">
                    {{ form.executor.errors|striptags }}
                </p>
            {% endif %}
        </div>
        <div class="field">
            <label class="label" for="{{ form.checkpoint.id_for_label}}">
                {{ form.checkpoint.label }}
            </label>
            <div class="control">
                <div class="select">
                    {{ form.checkpoint }}
                </div>
            </div>
            {% if form.checkpoint.errors %}
                <p class="help is-danger">
                    {{ form.checkpoint.errors|striptags }}
                </p>
            {% endif %}
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" type="submit">Submit</button>
            </div>
            <div class="control">
                <a class="button is-text" href="{% url 'dashboard' %}">Cancel</a>
            </div>
        </div>
        </form>
    </div>
{% endblock %}